:root {
  --user-chat-width: 70%;
  --chat-app-comp-theme: oklch(53.2% .157 131.589);
  --user-chat-bubble-background: oklch(84.1% .238 128.85);
}

/* Hide scrollbars for the whole page */
html,
body {
  font-family: Arial, Helvetica, sans-serif;
}